body{
  /* background-color: #343434; /**or #1B1212 or #28282B or	#36454F/ */
  background-color: var(--color-back);
  font-family: 'Manrope', sans-serif;}

.dark-mode {
  --color-back: #000;
  --color-basic-text: #fff;
}

.background{background: var(--color-back);}
.color-text{color: var(--color-text);}
.color-text_back{color: var(--color-logo);}
.color-back_text{background-color: var(--color-text);}

/*Colors*/
.color-green{color: var(--color-green);}
.color-blue{color: var(--color-blue);}
.color-light-blue{color: var(--color-light-blue);}
.color-back{color: var(--color-back);}
.color-darkest{color: var(--color-darkest);}
.color-light-purple{color: var(--color-light-purple);}
.color-pink{color: var(--color-pink);}
.color-basic-text{color: var(--color-basic-text);}

/*Background Colors*/
.back-green{background-color: var(--color-green);}
.back-blue{background-color: var(--color-blue);}
.back-dark{background-color: var(--color-dark);}
.back-darkest{background-color: var(--color-darkest);}
.back-light-purple{background-color: var(--color-light-purple);}
.back-white{background-color: white;}
.back-pink{background-color: var(--color-pink);}
.gradient{background: linear-gradient(#141e30, #243b55);}

/*Font Sizes*/
.fs-40{font-size: 40px;}
.fs-30{font-size: 30px;}
.fs-20{font-size: 20px;}
.fs-18{font-size: 18px;}
.fs-16{font-size: 16px;}
.fs-14{font-size: 14px;}
.fs-12{font-size: 12px;}

.line-h-20{line-height: 20px;}

.cursor{cursor: pointer;}
.main-container{width: 1500px;max-width: 90%;margin: auto;}
  
.container-medium{width: 1000px;max-width: 90%;margin: auto;}

.pointer{cursor: pointer;}

.signup-in-button{display: inline-block;width: 100%;line-height: 35px !important;padding: 5px 15px !important;position: relative;opacity: .999;
  border-radius: 3px;margin: 0 0 5px 0;}

  .signup-in-button {
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
    color: #a6a6a6;
  }
  .signup-in-button {background-color: transparent;border: 1px solid #d0d0d0;color: #B8B8B8;}

  .signup-in-button:before, .signup-in-button:after {
    content: '';
    border-style: solid;
    position: absolute;
    z-index: 5;
    border-radius: 3px;
    box-sizing: content-box;
  }
  .signup-in-button:before {
    width: 0;
    height: 100%;
    border-width: 1px 0 1px 0;
    top: -1px;
    left: 0;
    transition-delay: 0.05s;
  }
  .signup-in-button:after {
    width: 100%;
    height: 0;
    border-width: 0 1px 0 1px;
    top: 0;
    left: -1px;
  }
  .signup-in-button:hover:before {
    width: 100%;
  }
  .signup-in-button:hover:after {
    height: 100%;
  }
  .signup-in-button:before, .signup-in-button:after {
    border-color:  	var(--color-light-blue);
  }
  .signup-in-button:hover {
    color:  	var(--color-light-blue);
  }
  .animate, .signup-in-button, .signup-in-button::before, .signup-in-button::after{
    transition: all 0.9s;
  }

  .update-button{display: inline-block;width: 100%;line-height: 35px !important;padding: 5px 15px !important;position: relative;opacity: .999;
    border-radius: 3px;margin: 0 0 5px 0;}
  
    .update-button {
      background-color: #e5e5e5;
      border: 1px solid #e5e5e5;
      color: #a6a6a6;
    }
    .update-button {background-color: transparent;border: 1px solid #000;color: #000;}
  
    .update-button:before, .update-button:after {
      content: '';
      border-style: solid;
      position: absolute;
      z-index: 5;
      border-radius: 3px;
      box-sizing: content-box;
    }
    .update-button:before {
      width: 0;
      height: 100%;
      border-width: 1px 0 1px 0;
      top: -1px;
      left: 0;
      transition-delay: 0.05s;
    }
    .update-button:after {
      width: 100%;
      height: 0;
      border-width: 0 1px 0 1px;
      top: 0;
      left: -1px;
    }
    .update-button:hover:before {
      width: 100%;
    }
    .update-button:hover:after {
      height: 100%;
    }
    .update-button:before, .update-button:after {
      border-color:  	var(--color-pink);
    }
    /* .update-button:hover {
      color:  	var(--color-pink);
    } */
    .animate, .update-button, .update-button::before, .update-button::after{
      transition: all 0.9s;
    }

@media screen and (max-width:1440px){
  .fs-40{font-size: 35px;}
  .fs-30{font-size: 28px;}
  .fs-20 {font-size: 16px;}
  /* .fs-16 {font-size: 14px;} */
}

@media screen and (max-width:1024px){
  .fs-40{font-size: 30px;}
  .fs-30{font-size: 25px;}
  .fs-20{font-size: 16px;}
  .fs-18{font-size: 15px;}
  .fs-16 {font-size: 13px;}
}

@media screen and (max-width:767px){
  .fs-40{font-size: 25px;}
  .fs-30{font: 20px;}
  .fs-20 {font-size: 16px;}
  .fs-18{font-size: 14px;}
  .fs-16 {font-size: 14px;}
  .fs-12{font-size: 11px;}
}

@media screen and (max-width:550px){
  .fs-40{font-size: 20px;}
  .fs-30{font: 18px;}
  .fs-20 {font-size: 15px;}
  .fs-18{font-size: 13px;}
  .fs-16 {font-size: 12px;}
  .fs-12{font-size: 10px;}
}