@tailwind base;
@tailwind components;
@tailwind utilities;

/*
back:#545454
text:#dcbf7d
#acabb0
*/

:root{
    --color-text: #dcbf7d;
    --color-back: #545454;
    --color-green: #8edaa0;
    --color-blue: #2a4892;
    --color-light-blue:#03e9f4;
    --color-dark: #243b55;
    --color-darkest: #141e30;
    --color-light-purple: #acabb0;
    --color-pink: #fcfcdf;
}