/* header{display: none;} */
.estate__signin{width: 40%;padding: 40px;box-sizing: border-box;box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;margin: 5rem auto;}
.estate__signin-content_title{margin: 0 0 30px;padding: 0;}
.estate__signin-content_form-box{position: relative;}
.estate__signin-content_form-box input{width: 100%;padding: 10px 0;margin-bottom: 30px;border: none;
    border-bottom: 1px solid #fff;outline: none;background: transparent;}
.estate__signin-content_form-box label{position: absolute;top: 0;left: 0;padding: 10px 0;font-size: 16px;
    color: #fff;pointer-events: none;transition: .5s;}
.estate__signin-content_form-box input:focus ~ label, .estate__signin-content_form-box input:valid ~ label{
    top: -20px;left: 0;color: #03e9f4;font-size: 12px;
}
.estate__signin-content_form-box_submit{display: flex;justify-content: center;align-items: center;}


/* @media screen and (max-width:1440px){
    .estate__signin{width: 35%;}
} */
@media screen and (max-width:1024px){
    .estate__signin{width: 55%;}
    .estate__signin-content_form-box label{font-size: 15px;}
}
@media screen and (max-width:767px){
    .estate__signin{width: 75%;}
}
@media screen and (max-width:520px){
    .estate__signin{width: 90%;padding: 20px;}
}


