.fixed-header{position: fixed;z-index: 3;width: 100%;}
.estate__header-upper_logo{flex: 0.2;text-shadow: 2px 2px 2px black;}
.header-form{border: 1px solid var(--color-dark);}
.estate__header-upper_links a{margin-right: 1rem;}
.estate__header-upper_links img{border-radius: 50%;width: 35px;height: 35px;object-fit: cover;cursor: pointer;}
.estate__header-lower-mobile{display: none;}

@media screen and (max-width:767px){
    .search-input{width: 150px !important;}
}

@media screen and (max-width:615px){
    .estate__header-lower-mobile{display: block;}
    .links-desktop{display: none !important;}
}

@media screen and (max-width:500px){
    .search-input{width: 100px !important;}
}