.title{padding: 20px 0;font-weight: bold;}
.createListingForm{padding: 30px 0;display: flex;flex-direction: row;gap: 30px;}
.createListingForm .inputs{flex: 1;}
.createListingForm .inputs .form-box{position: relative;}
.createListingForm .inputs .form-box input, .createListingForm .inputs .form-box textarea
    {width: 100%;padding: 10px 0;border: 1px solid var(--color-dark);
    outline: none;background: transparent;border-radius: 5px;}
.createListingForm .inputs .form-box label{position: absolute;top: 0;left: 0;padding: 11px;
    color: var(--color-dark);pointer-events: none;transition: .5s;}
.createListingForm .inputs .form-box input:focus ~ label, .createListingForm .inputs .form-box input:valid ~ label{
    top: -28px;left: 0;font-size: 12px;
}
.createListingForm .inputs .form-box textarea:focus ~ label, .createListingForm .inputs .form-box textarea:valid ~ label{
    top: -28px;left: 0;font-size: 12px;
}

.createListingForm .inputs .checkboxes, .createListingForm .inputs .numbers{padding: 5px 0;}
/* .createListingForm .inputs .checkboxes input{border: 1px solid var(--color-dark);
    outline: none;background: transparent;} */
.createListingForm .inputs .numbers input{padding: 5px;border: 1px solid var(--color-dark);
    outline: none;background: transparent;border-radius: 5px;width: 70px;}

.createListingForm .right-part{flex: 0.8;}
.createListingForm .right-part input{outline: none;background: transparent;border-radius: 5px;}
.createListingForm .right-part .create-button{background: transparent;color: var(--color-dark);
    border: 1px solid var(--color-dark);border-radius: 5px;}

@media screen and (max-width:915px){
    .createListingForm{flex-direction: column;}
}